# ==========================================
# QA ENVIRONMENT
# ==========================================

# Learner portal
QA_LEARNER_URL=
QA_LEARNER_EMAIL=
QA_LEARNER_PASSWORD=

# Org Admin portal
QA_ORG_ADMIN_URL=
QA_ORG_ADMIN_EMAIL=
QA_ORG_ADMIN_PASSWORD=

# Super Admin portal
QA_SUPER_ADMIN_URL=
QA_SUPER_ADMIN_EMAIL=
QA_SUPER_ADMIN_PASSWORD=

# Trainer portal
QA_TRAINER_URL=
QA_TRAINER_EMAIL=
QA_TRAINER_PASSWORD=

# ==========================================
# PRODUCTION ENVIRONMENT
# ==========================================

# Admin portal
PROD_ADMIN_URL=
PROD_ADMIN_EMAIL=
PROD_ADMIN_PASSWORD=

# Learner portal
PROD_LEARNER_URL=
PROD_LEARNER_EMAIL=
PROD_LEARNER_PASSWORD=
